.settings/
.myeclipse/
.gradle/
target/
*/.settings
*/.classpath
*/.project
.classpath
.project
.idea/
.svn/
.externalToolBuilders/
gradle/
.recommenders/
.metadata/
build/
*/node_modules
node_modules
index2.html
